{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto mt-8 flex  flex-col justify-center items-center">
        <div class="max-w-lg">
        <h1 class="text-4xl font-bold mb-4">Bienvenue !</h1>

        <p class="text-lg mb-2">Cliquez sur le bouton pour vous connecter !</p>
        <a href="{{ path('app_login') }}" class="bg-blue-500 text-white py-2 px-4 rounded inline-block mt-4">Se connecter</a>
    </div>
</div>
{% endblock %}
