{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('style.css')}}">

<a href="{{ path('app_login')}}">LOGIN</a>
{% endblock %}
