

    <h1>hello word</h1>
    <p>username</p>
    <input type="text">
    <p>mdp</p>
    <input type="text" name="mots de passe">
    <p>email</p>
    <input type="email" name="email">
    <br>

    <input class="styled" type="button" value="Submit" />
