App\Entity\User:
  type: entity
  actAs:
    Timestampable: ~
  id:
    id:
      type: integer
      generator: { strategy: AUTO }
  fields:
    firstName:
      type: string
      nullable: false
    lastName:
      type: string
      nullable: false
    eMail:
      type: string
      nullable: false
    password:
      type: string
      nullable: false
    roles:
      type: array
      nullable: false