{% extends 'admin/users/_layout.html.twig' %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}


        <h1 class="mt-4">
            edit an user
        </h1>

        {{ form(form)}}
    </div>
{% endblock %}