{# templates /admin/success.html.twig #}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>

<h1>CREATION DE USER : </h1>
<h2>{{message}}</h2>
<div>
    <img src="{{ asset('images/solo.gif') }}" alt="Thrash Metal Admin">
</div>
</body>
</html>