{# templates /admin/success.html.twig #}

<!doctype html>
<html lang="en">
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>

<h1 class="text-grey-800 text-4xl text-center font-extrabold mt-10">CREATION DE USER : </h1>
<h2 class="text-grey-800 text-4xl text-center font-extrabold mt-5 mb-5">{{message}}</h2>

<div class="flex justify-center items-center">
    <img src="{{ asset('images/smashingGuitar.gif') }}" alt="smashing guitar">
</div>
    <div class="flex flex-row space-x-4 justify-center  p-8" >
        <form action="{{ formUrlRef }}" method="get">
            <button class="bg-gray-200 p-8 mt-6" type="submit">Retour au formulaire de création</button>
        </form>
        </div>


</body>
</html>