{# templates/admin/dashboard.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Welcome to Admin Dashboard</h2>

    {% if user %}
        <p>user, {{ user.username }}!</p>
        <p>Email: {{ user.email }}</p>
       
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}
</body>
</html>
