{# templates/admin/login.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Formulaire</title>
</head>
<body>
<h1>connectez-vous à l'espace administrateur</h1>



{% block body %}


    <div>
        {{ form(form) }}
    </div>


{% endblock %}


</body>
</html>
