<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <h1>Aucun utilisateur n'est présent dans la liste</h1>

    <form action="/admin/create" method="get">
        <button type="submit">Créer un nouvel utilisateur</button>
    </form>
</body>
</html>