{# templates/TPMJ/roll.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Résultat du tirage :</title>
</head>
<body>
<h1>Résultat du tirage</h1>

<p>{{ sortie }}<p><br>

<img src='{{  pic  }}'  alt="awaneuchizborgar">
</body>
</html>