{# templates/auth/login.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../../assets/twstyle.css">
    <title>Formulaire</title>
</head>
<body>
<h1>Bonjour !</h1>


{% block body %}

    <form  action="/auth/success" method="get">
        <button class="bg-blue-500" style="color: #3b82f6" type="submit">Accéder au site</button>
    </form>

{% endblock %}


</body>
</html>


