{# templates/auth/success.html.twig #}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>

<h1>{{ welldone }}</h1>
<div>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/047/747/356815592_821132436051390_1748272518206713022_n.jpg" alt="well done by Idles">
    <h2><a href="{{ loginUrlRef }}">se connecter en admin</a></h2>
</div>
</body>
</html>